---
const stats = [
  {
    name: 'Czas wykonywania',
    value: 'Około 30 min',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/ziola.jpeg"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Access Bars:</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Access Bars to rewolucyjna technika terapeutyczna, która koncentruje się na lekkim
              dotyku punktów na głowie, nazywanych "Barsów". Każdy punkt reprezentuje różne aspekty
              naszego życia, takie jak zdrowie, finanse, relacje, twórczość, radość itp. Stymulacja
              tych punktów umożliwia uwolnienie ograniczających przekonań, emocji i myśli, które
              blokują nasz potencjał.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Podczas sesji Access Bars terapeuta delikatnie dotyka i aktywuje 32 punkty na głowie
              pacjenta. To pozwala na rozluźnienie i uwolnienie energii, przywracając równowagę w
              ciele i umyśle. Proces ten może przynieść wielorakie korzyści, takie jak redukcja
              stresu, poprawa koncentracji, lepszy sen, zwiększenie świadomości i otwarcie na nowe
              możliwości w życiu.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-lg tracking-tight  text-coffee">
                  <strong class="text-coffee">{stat.value}</strong>
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
