---
const stats = [
  {
    name: 'Czas wykonywania',
    value: 'Około 30 min',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/moksa.jpeg"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Moksa</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Moksa to innowacyjna metoda terapeutyczna, która wykorzystuje połączenie różnych
              technik i metod, mających na celu poprawę zdrowia i dobrostanu. Ta holistyczna terapia
              opiera się na zasadach medycyny chińskiej i indyjskiej ajurwedy, łącząc w sobie
              elementy akupunktury, masażu i medytacji.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Podczas sesji Moksy terapeuta wykorzystuje delikatne dotknięcia i nacisk na wybranych
              punktach energetycznych na ciele pacjenta. Poprzez stymulację tych punktów, energia
              życiowa (chi) jest uwalniana i harmonizowana, co prowadzi do równowagi energetycznej
              organizmu. Ta technika jest skierowana nie tylko na poprawę fizycznego samopoczucia,
              ale również na redukcję stresu, wzmacnianie układu odpornościowego oraz pobudzanie
              naturalnych zdolności samo uzdrawiania organizmu.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-lg tracking-tight  text-coffee">
                  <strong class="text-coffee">{stat.value}</strong>
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
